.about-section{
	height: 800px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100%;
    width: 100%;
    padding: 40px 3rem;
    background-color: #000;
}

.container .heading{
    /* margin-top: 40px; */
}

.container .heading h1{
    color: #fff;
    font-size: 2.2rem;
    font-weight: 900;
}

.about-container{
    padding-top: 40px;  
    display: flex;
    flex: 1;
    /* background-color: yellow; */
}
.sub-container{
    display: flex;
}

.leftSection{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    height: 100%;
}
.rightSection{
    width: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: aqua; */
    height: 100%;
}

.rightSection p{
    padding: 1rem 0;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
}

.rightSection ul{
    list-style: none;
    padding-top: 20px;
}

.rightSection li{
    font-size: 1.1rem;
    color: #fff;
    padding: 0.5rem 0;
    font-weight: bold;
}
.image{
    width: 70%;
    height: 60%;
    /* -o-object-fit: cover;
    object-fit: cover; */
}

.content-image {
  position: relative;
  animation: anime-2 1.5s infinite alternate-reverse forwards ease-in-out;
}

.content-image img {
  width: 300px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 30px;
  transform: translateY(-40px);
}

.overlay-icons {
  position: relative;
  z-index: 1;
}

/* Hero html icon*/
.content-image::before {
  content: "";
  position: absolute;
  top: 50px;
  left: -20px;
  background-image: url(/src/images/svgs/html5.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  z-index: 1;
  /* background-color: blue; */
}

/* Hero Js icon*/
.content-image::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 32%;
  background-image: url(/src/images/svgs/javascript.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
}

/* Hero css icon*/
.content-image .overlay-icons::after {
  content: "";
  position: absolute;
  bottom: -105px;
  right: -30px;
  width: 60px;
  height: 60px;
  background-image: url(/src/images/svgs/css3.svg);
  background-repeat: no-repeat;
}

@media screen and  (max-width: 992px) {
    .rightSection p{
        padding: 1rem 1.2rem;
        /* color: #fff; */
        font-size: 1.1rem;
    }
    .rightSection li{
        font-size: 1rem;
        color: #fff;
        padding: 0.5rem 1.3rem;
    }
    .image{
        height: 50%;
        width: 90%;
    }
    .container{
        padding: 40px 2rem;
    }
}

@media screen and (max-width: 768px) {
    .about-section{
        height: 1200px;
    }
    .container .heading h1{
        font-size: 2rem;
    }
    .sub-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: green; */
    }
    .leftSection{
        width: 100%;
        height: 70%;
    }
    .rightSection p{
        padding: 1rem 1.2rem;
        color: #fff;
        font-size: 1.1rem;
    }
    .rightSection li{
        font-size: 1rem;
        color: #fff;
        padding: 0.5rem 1.3rem;
    }
    .image{
        width: 80%;
        height: 80%;
    }
    .rightSection{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .about-container{
        /* padding: 0px; */
    }
    .leftSection{
        width: 100%;
        height: 60%;
    }
    .rightSection p{
        padding: 1rem 1.2rem;
        color: #fff;
        font-size: 1rem;
    }
    .rightSection li{
        font-size: 0.9rem;
        color: #fff;
        padding: 0.5rem 1.3rem;
    }
}

/* .about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    background-color: #fff;
}

.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
    margin-top: 80px;
}

.about .left p{
    margin: 1.2rem 0;
}

.about .right{
    max-width: 700px;
}

.right .img-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;
}

.right .img{
    max-width: 90%;
    border: 1px solid #333;
}

.right .top{
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}

.right .bottom{
    grid-column: 4 / -1;
    grid-row: 1;
    z-index: 5;
}

.hero-img{
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 60vh;
    position: relative;
    margin-top: 80px;
}

.hero-img::before{
    content: "";
    background: url("../../assests/images/intro-bg.jpg");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero-img h1{
    font-size: 2.4rem;
}

.hero-img p {
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width: 768px){
    .hero-img h1{
        font-size: 2rem;
    }
} */